*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family: 'poppins',sans-serif;
}

body{
    background-color : rgb(241, 241, 241);
}

header{
    background-color : #3d5af1;
    padding : 10px 15px;
}

header h1{
    color : white;
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
}