*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family: 'poppins',sans-serif;
}

:root{
    --first-color: #278ea5;
    --second-color :  #0f3c46;
}

html,body{
    background-color : rgb(241, 241, 241);
    scroll-behavior: smooth;
}

header{
    background-color : var(--first-color);
    padding : 10px 35px 10px 15px;
    position : sticky;
    top : 0;
    z-index : 1;
    display : flex;
    justify-content: space-between;
}

header h1{
    color : white;
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
    flex-basis: 70%;
}

header .search-bar{
    display:flex;
    align-items: center;
    flex-basis: 30%;
}

.search-bar input,.search-bar button{
    outline : none;
    border : none;
    padding : 5px 15px;
}

.search-bar input{
    color : gray;
    caret-color: gray;
    border-radius: 8px 0px 0px 8px;
    width : 90%;
    text-align:center;
}

.search-bar button{
    background-color: white;
    color : var(--first-color);
    border-radius: 0px 8px 8px 0px;
    border-left: 1px solid var(--first-color);
    cursor: pointer;
    transition : all ease 0.5s;
}

.search-bar button:hover{
    background-color: transparent;
    color : white;
}

main #intro-text{
  text-align : center;  
  padding : 25px 0px 6px;
  font-size : 2rem;
  font-weight: 800;
  color : rgb(90, 90, 90);
  position: relative;
}

main #intro-text::after{
    content:'';
    position: absolute;
    bottom : 0;
    left : 50%;
    transform: translateX(-50%);
    height : 4px;
    width : 4%;
    background-color : var(--first-color);
}

.buttons-container{
    width : 40%;
    margin : auto;
    display : flex;
    justify-content: space-evenly;
    padding : 45px 0px;
}

.buttons-container button{
    padding : 5px;
    font-size : 1rem;
    outline : none;
    border-left: 2px solid var(--first-color);
    border-top : 2px solid var(--first-color);
    border-right: 2px solid var(--second-color);
    border-bottom : 2px solid var(--second-color);
    border-radius : 8px;
    cursor : pointer;
    color : var(--first-color);
    transition : all ease 0.5s;
    font-weight : lighter;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.buttons-container button.active,.buttons-container button:hover{
    background-color : var(--first-color);
    color : white;
}

.cars-display{
    width : 90%;
    margin : auto;
    padding : 25px 40px;
    display : grid;
    grid-gap : 20px;
    grid-template-columns: repeat(2,1fr);
}

.car-holder {
    padding : 15px;
    display : flex;
    border-bottom: 2px dotted var(--second-color);
    animation : carHolderAnimation 1s;
}

@keyframes carHolderAnimation{
    0%{
        opacity: 0;
    }

    50%{
        opacity : 0.5;
    }

    75%{
        opacity : 0.75;
    }

    100%{
        opacity: 1;
    }
}

.car-holder img{
    width : 40%;
    height: 80%;
    border-radius : 8px;
    border : 4px solid var(--first-color);
    cursor : pointer;
}

.car-info{
    padding : 0px 15px 0px;
}

.car-info h3{
    font-size : 1rem;
}

.car-info h3:nth-of-type(1){
    color : rgb(90, 90, 90);
}

.car-info h3:nth-of-type(2){
    color : var(--first-color)
}

.car-info p:nth-of-type(1){
    color : rgb(90,90,90);
}

.car-info p:nth-of-type(2){
    font-size : 14px;
    font-weight: lighter;
    padding : 15px 0px 0px;
    color : var(--first-color);
}

.scroll-to-top{
    font-size: 2.5rem;
    padding : 8px 15px;
    color : var(--second-color);
    cursor: pointer;
    outline : none;
    border : none;
    position : fixed;
    top : 85%;
    right : 0%;
    animation : blinkAnimation 2s;
    animation-iteration-count: infinite;
    background-color: transparent;
}

@keyframes blinkAnimation{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(0.8);
    }
}

footer{
    background-color : var(--first-color);
    padding : 40px 35px 20px;
    /* position: relative; */
}

footer h3{
    color : white;
    margin: auto;
    text-align: center;
    position: relative;
    width : 30%;
    padding : 5px 0px;
}

footer h3::after{
    content : '';
    position : absolute;
    height : 3px;
    width : 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color : white;
    bottom : 0%;
}

footer .below-intro-text{
    text-align: center;
    color : white;
    padding : 15px 0px;
    font-size : 14px;
}

.communication-channels {
    padding : 50px 0px;
    display : flex;
}

.communication-channels .contact-links{
    flex-basis: 30%;
}

.communication-channels .map{
    flex-basis: 65%;
}

footer span{
    display: block;
    padding : 5px;
}

footer span i,footer span p{
    display: inline-block;
    color : snow;
}

footer i{
    font-size : 1.5rem;
    padding : 8px;
}

footer p{
    font-size: 14px;
}

.map{
    padding : 0px 25px;
}

.map iframe{
    width : 100%;
    border-radius : 8px;
}

.modal{
    background-color : rgba(0,0,0,0.8);
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition : all 0.5s ease;
    cursor: pointer;
}

.full-image-container{
    border : 4px solid var(--first-color);
    border-radius : 8px;
    opacity : 0;
    pointer-events: none;
    width : 50%;
    position: absolute;
    top : 50%;
    left : 50%;
    width : 50%;
    height : 76%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: all 0.5s ease;
    /* overflow: hidden; */
}

.full-image-container .fas{
    position : absolute;
    font-size: 2rem;
    color : snow;
    left : 100%;
    bottom: 97%;
    transform: translate(-100%,-97%);
    transition: all 0.5s ease;
}

.full-image-container .fas:hover{
    color : rgb(160, 137, 137);
}

.full-image-container.open{
    opacity : 1;
    pointer-events: all;
    transform: translate(-50%,-50%) scale(1);
}

.modal.open{
    opacity : 1;
    pointer-events: all;
}

.full-image{
    width : 100%;
    height: 100%;
    border-radius: 8px;
}

.modal p{
    color : white;
    font-size : 1.2rem;
    position : absolute;
    bottom: 5%;
    left : 50%;
    transform: translate(-50%,-5%);
}
